@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #ffffff;
	--foreground: #171717;
	--primary: #ffd500;
	--neutural: #aaaaaa;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
		--neutural: #888888;
	}
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: Arial, Helvetica, sans-serif;
}

@layer components {
	.center {
		@apply absolute transform -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2;
	}
}

#note-textarea::-webkit-scrollbar {
	width: 6px;
}

#note-textarea::-webkit-scrollbar-track {
	background: transparent !important;
}

#note-textarea::-webkit-scrollbar-thumb {
	background: var(--neutural) !important;
  border-radius: 6px;
}
